{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-9">
        <div class="card card-title">
            <center>
            <p>Are you sure want to delete <h5>{{order.product}}</h5> ??  :(</p>
            <form  method="POST">
                {% csrf_token %}
                <a class="btn btn-sm btn-danger" href="{% url 'dashboard' %}">Cancel</a>
     
                <input class="btn btn-sm btn-info" type="submit" name="Confirm">
                </form>
            </center>
        </div>
    </div>
</div>
{% endblock %}